# Database Configuration
DB_HOST=
DB_USER=
DB_PASS=
DATABASE_URL=mysql+pymysql://root:mindfire123@autotest_mysql:3306/AutoTestDB
MYSQL_ROOT_PASSWORD=
MYSQL_PORT=3306
 
# Backend FastAPI configuration
BACKEND_PORT=8000:8000
PORT=8000

# RabbitMQ Configuration
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=admin123
RABBITMQ_VHOST=/
RABBITMQ_PORT=5672:5672
RABBITMQ_MANAGEMENT_PORT=15672:15672
RABBITMQ_URL=amqp://admin:admin123@autotest_rabbitmq:5672/

SITE_ANALYSE_QUEUE=site_analyse_queue
PAGE_EXTRACT_QUEUE=page_extract_queue
PAGE_ANALYSE_QUEUE=page_analyse_queue
PROCESSPAGE_EXTRACT_SINGLE_QUEUE=page_extract_single_queue
LLM_QUEUE=llm_queue
TEST_SCRIPT_QUEUE=test_script_queue
TEST_EXECUTION=test_execution_queue
SCENARIO_RERUN_QUEUE=scenario_rerun_queue
TEST_SCENARIO_QUEUE=test_scenario_generate_queue
TEST_CASE_QUEUE=test_case_generate_queue
TEST_EXECUTION_QUEUE=test_execution_queue
PAGE_STATUS_UPDATE_QUEUE=page_status_update_queue
PAGE_AUTH_UPDATE_QUEUE=page_auth_update_queue
AUTH_CREDENTIAL_UPDATE_QUEUE=auth_credential_update_queue
TEST_SUITE_QUEUE=test_suite_queue
SITE_STATUS_UPDATE_QUEUE=site_status_update_queue
TEST_SUITE_EXECUTION_QUEUE=test_suite_execution_queue

# JWT Configuration
JWT_SECRET=a1161e023bb55414d55aa2fb90d2d0f73e1c73189689e39ace238738169bec93 # Example: PRIMIND
ACCESS_TOKEN_EXPIRE_MINUTES=60
ALGO=HS256
 
FRONTEND_PORT=3000:80
PAGE_CRAWL_MAX_DEPTH=2
PAGE_CRAWL_UNLIMITED=false # make it true for production

VITE_API_URL=/api/v1
VITE_WS_URL=ws://localhost:8000/api/v1/ws