# OPENAI_API_KEY=
ANTHROPIC_API_KEY=
GROQ_API_KEY=
GOOGLE_API_KEY= 
OPENAI_API_KEY=

# Application Environment
NODE_ENV=<environment> # Example: loc, dev, prod
PORT=<application_port> # Example: 5000

# Database Configuration
DB_HOST=localhost # Example: localhost
DB_USER=root # Example: root
DB_PASS=<database_password> # Example: password
DATABASE_URL=mysql+pymysql://root:mindfire123@autotest_mysql:3306/AutoTestDB # Example: mysql://root:localhost@mysql:3306/financeDevelopmentDb
MYSQL_ROOT_PASSWORD=mindfire123 # Example: mindfire
MYSQL_PORT=3306:3306
PHP_MY_ADMIN_PORT=8080:80

# Backend FastAPI configuration
BACKEND_PORT=8000:8000

# RabbitMQ Configuration
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=admin123
RABBITMQ_VHOST=/
RABBITMQ_PORT=5672:5672
RABBITMQ_MANAGEMENT_PORT=15672:15672
RABBITMQ_URL=amqp://admin:admin123@autotest_rabbitmq:5672/

# Admin User Credentials
USERNAME=ankit_admin
PASSWORD=Bbsr@mindfire123
NAME=Ankit Saha
EMAIL=ankit.s@mindfiresolutions.com

# API Configuration
API_URL=http://localhost:8000/ # Example: http://localhost:3000
REACT_APP_ENVIRONMENT=<react_app_environment> # Example: loc

# JWT Configuration
JWT_SECRET=<jwt_secret> # Example: PRIMIND

# Mail Service Configuration
MAIL_SERVICE=<mail_service> # Example: Gmail
MAIL_HOST=<mail_host> # Example: smtp.gmail.com
MAIL_PORT=<mail_port> # Example: 465
MAIL_SECURE=<mail_secure> # Example: true
MAIL_USER=<mail_user> # Example: your_email@gmail.com
MAIL_PASS=<mail_password> # Example: your_email_password
