selenium==4.15.2
webdriver-manager==4.0.2
requests==2.31.0
python-dotenv==1.0.0
langchain==0.3.24
langchain_openai==0.3.15
langchain_groq==0.3.2
langchain_google_genai==2.1.4
playwright==1.42.0
pillow==11.1.0
jsonschema==4.23.0
pyppeteer==2.0.0
pyyaml==6.0.2
groq==0.22.0
openai==1.76.2
langchain-community==0.3.23
