# MySQL Database
MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_PORT=3306:3306
DATABASE_URL=mysql+pymysql://root:your_root_password@autotest_mysql:3306/autotest_db

# RabbitMQ
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=admin123
RABBITMQ_VHOST=/
RABBITMQ_PORT=5672:5672
RABBITMQ_MANAGEMENT_PORT=15672:15672
RABBITMQ_URL=amqp://admin:admin123@autotest_rabbitmq:5672/
SITE_ANALYSE_QUEUE=site_analyse_queue
PAGE_EXTRACT_QUEUE=page_extract_queue
PAGE_ANALYSE_QUEUE=page_analyse_queue
PAGE_EXTRACT_SINGLE_QUEUE=page_extract_single_queue
SCENARIO_RERUN_QUEUE=scenario_rerun_queue
TEST_SCENARIO_QUEUE=test_scenario_generate_queue
TEST_CASE_QUEUE=test_case_generate_queue
PAGE_STATUS_UPDATE_QUEUE = page_status_update_queue
PAGE_EXTRACT_SINGLE_QUEUE = page_extract_single_queue
PAGE_AUTH_UPDATE_QUEUE = page_auth_update_queue
AUTH_CREDENTIAL_UPDATE_QUEUE=auth_credential_update_queue
TEST_SUITE_EXECUTION_QUEUE=test_suite_execution_queue

LLM_QUEUE=llm_queue
PAGE_CRAWL_MAX_DEPTH=2

