@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: 6px;
  --radius-md: 6px;
  --radius-lg: 6px;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

:root {
  --radius: 6px;

  --background: #FFFFFF;
  --foreground: #000000;

  --card: #FFFFFF;
  --card-foreground: #000000;

  --popover: #FFFFFF;
  --popover-foreground: #000000;

  --primary: #FC0101;
  --primary-foreground: #FFFFFF;

  --secondary: #F6F3F3;
  --secondary-foreground: #000000;

  --muted: #F6F3F3;
  --muted-foreground: #606060;

  --accent: #F4F4F4;
  --accent-foreground: #000000;

  --destructive: #FC0101;
  --destructive-foreground: #FFFFFF;

  --border: #E6D8D8;
  --input: #E6D8D8;
  --ring: #E6D8D8;
}

.dark {
  --background: #000000;
  --foreground: #FFFFFF;

  --card: #000000;
  --card-foreground: #FFFFFF;

  --popover: #000000;
  --popover-foreground: #FFFFFF;

  --primary: #FC0101;
  --primary-foreground: #FFFFFF;

  --secondary: #1A1A1A;
  --secondary-foreground: #FFFFFF;

  --muted: #1A1A1A;
  --muted-foreground: #E6E6E6;

  --accent: #1A1A1A;
  --accent-foreground: #FFFFFF;

  --destructive: #FC0101;
  --destructive-foreground: #FFFFFF;

  --border: #333333;
  --input: #444444;
  --ring: #555555;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
}
